<div class="col-md-12">
    <div class="card card-container">
      <form name="form"  novalidate>
        <div class="form-group">
          <label for="name">Nom de la fiche</label>
          <input class="form-control" type="text"  name="cardName" required/>
        </div>
        <div class="form-group">
          <label for="location">Lieu de travail</label>
          <input type="text" class="form-control" name="location"  required
            />
        </div>
        <div class="form-group">
          <label for="realizationTime">Temps de réalisation en Jours</label>
          <input type="number" class="form-control" name="realizationTime"  required/>
        </div>
        <div class="form-group">
          <label for="deadline">Date Limite</label>
          <input type="date" class="form-control" name="deadline"  required/>
        </div>
     
  
        <div class="form-group">
          <label for="noteOfExplanation">Explication</label>
          <textarea class="form-control" id="noteOfExplanation" rows="3"></textarea>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <button class="btn btn-success btn-block" type="submit">
                Modifier
              </button>
              <button class="btn btn-danger btn-block" >
                Annuler
              </button>
            </div>
  
          </div>
  
        </div>
  
      </form>
    </div>
  </div>
  